* {box-sizing: border-box}
    input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  .form{
    
    color: blueviolet;
    font-family: serif;
  
  }
  
  .image{
    display: inline-block;
    width: 150px;
    height: 150px;
    cursor: pointer;
  }
  .largeImg{
    width: 460px;
    height: 300px;
  }
